/backend/.env
/backend/node_modules
/backend/package-lock.json
/backend/package.json
/backend/tsconfig.json
/backend/dist
/backend/tsconfig.tsbuildinfo
/backend/tsconfig.tsbuildinfo.tsbuildinfo
/backend/tsconfig.tsbuildinfo.d.ts
/backend/tsconfig.tsbuildinfo.d.tsbuildinfo
/backend/tsconfig.tsbuildinfo.tsbuildinfo.d.ts
/backend/tsconfig.tsbuildinfo.tsbuildinfo.d.tsbuildinfo
/frontend/.env
/frontend/node_modules
/frontend/package-lock.json
/frontend/package.json
/frontend/tsconfig.json
/frontend/dist
/frontend/tsconfig.tsbuildinfo
/frontend/tsconfig.tsbuildinfo.tsbuildinfo
/frontend/tsconfig.tsbuildinfo.d.ts
/frontend/tsconfig.tsbuildinfo.tsbuildinfo.d.ts
/frontend/tsconfig.tsbuildinfo.tsbuildinfo.d.tsbuildinfo
