backend/.env
backend/node_modules
backend/dist
backend/coverage
backend/.DS_Store
backend/.eslintcache
backend/.vscode
backend/.idea
backend/.nyc_output
backend/coverage
backend/.turbo
frontend/.turbo
frontend/node_modules
frontend/dist
frontend/.DS_Store
frontend/.eslintcache
frontend/.vscode
frontend/.idea
frontend/.nyc_output
frontend/coverage